<!DOCTYPE html>
<head>
    <title>Ghar Kharach</title>
    <!--<link rel = "icon" href="https://thumbs.dreamstime.com/b/indian-rupee-icon-sign-vector-162377406.jpg" type = "image/x-icon">-->
    <link rel = "icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRy8-c-hsI8999xIB2rtp99umKagfQ5p7VQUEvzQHxtWbyRGxAcQg7P1pZ_1vHc_3sLZM&usqp=CAU" type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@3.10.1/index.js"></script>
    <script src="public/purchase/app.js"></script>
    <script src="public/purchase/dbHandler.js"></script>
    
</head>
<style>
  .app-body {
    font-family: "Montserrat", sans-serif;
    max-width: 800px;
    margin: 0px auto;
    border: 1px solid lightgray;
  }
  .search-typeahead {
    position: absolute;
    border: 1px solid lightgray;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 0.25rem;
    box-shadow: 0px 5px 8px #cdcdcd;
    border-radius: 0px 0px 10px 10px;
  }
  .list-group-item {
    padding: 0.25rem 0.25rem !important;
  }
</style>
<body ng-app="purchaseApp" ng-controller="purchaseController">
    
<div class="app-body">  

  <nav style="margin-bottom: 10px; box-shadow: 0px 0px 10px 0px #888888" class="navbar navbar-light bg-light">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-icons">view_list</span>
        <span style="vertical-align: super;">Menu</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" ng-click="page.open = 'wishlist'">
          <span class="material-icons">shopping_cart</span>
          <span style="vertical-align: super;">Wishlist</span>
        </a>
        <a class="dropdown-item" ng-click="page.open = 'purchase'">
          <span class="material-icons">receipt</span>
          <span style="vertical-align: super;">Purchase Details</span>
        </a>
        <a class="dropdown-item" ng-click="page.open = 'report'">
          <span class="material-icons">analytics</span>
          <span style="vertical-align: super;">Expense Analysis</span>
        </a>
      </div>
    </div>

    <div style="border: 1px solid lightgray; padding: 5px; cursor: pointer;" ng-click="goToProfile()">
      <span class="material-icons">account_circle</span>
      <span style="vertical-align: super; font-size: 0.9rem;">{{userInfo.first_name}}</span>
    </div>

    <!-- Button trigger modal -->
    <button type  = "button" class = "btn btn-success" data-toggle = "modal" data-target = "#shoppingItem" style = "float: right" ng-click="newItemDialog.loadItemDetailsDialog({}, 'new-purchase-wishlist');">
      <span class = "material-icons">shopping_bag</span>
    </button>
  </nav>

  <div class="wishlist" ng-show="page.open === 'wishlist'">
    
    <button type="button" class="btn btn-light btn-sm" ng-click="page.wishlist.search.findWishlistItems()">
      <span class="material-icons">refresh</span> 
      <span style="vertical-align: super;">Refresh</span>
    </button>
    <div ng-show="page.wishlist.searchSummary !== ''" class="badge badge-pill badge-light">{{page.wishlist.searchSummary}}</div>

    <div ng-repeat="dataObj in page.wishlist.data" class="card" style="margin: 1rem;">
      <h4 class="card-title" style="margin: 10px;" ng-click="page.wishlist.toggleVisibility({'key' : dataObj.type, 'type': 'type-1'})">
        <span class="material-icons">verified</span>
        <span>{{dataObj.type}}</span>
        <span ng-show="!page.wishlist.dataTypeVisibilityMap[dataObj.type]" class="material-icons" style="vertical-align: middle; margin-left: 5px; float: right;" ng-click="">chevron_left</span>
        <span ng-show="page.wishlist.dataTypeVisibilityMap[dataObj.type]" class="material-icons" style="vertical-align: middle; margin-left: 5px; float: right;" ng-click="">expand_more</span>
      </h4>
      <ul class="list-group list-group-flush">
        <li ng-show="page.wishlist.dataTypeVisibilityMap[dataObj.type]" ng-repeat="obj in dataObj.details" class="list-group-item">
          <span class="material-icons" style="vertical-align: middle; margin-left: 5px; float: right;" ng-click="onItemDelete(obj, 'wish');">delete_forever</span>
          <span class="material-icons" ng-click="newItemDialog.loadItemDetailsDialog(obj, 'edit-wishlist');" style="vertical-align: middle; margin-left: 5px; float: right;" data-toggle = "modal" data-target = "#shoppingItem">build</span>
          <span ng-show="obj.important === 'true'" class="material-icons">task_alt</span>
          <span ng-click="onWishItemClickHandler.singleClick(obj)" ng-dblclick="onWishItemClickHandler.doubleClick(obj.title);" style="vertical-align: super;">{{obj.title}}</span>
          <div style="color: #9f9f9f; font-size: 0.75rem;">{{obj.desc}}</div>
        </li>
      </ul>
    </div>

  </div>

  <div class="purchase" ng-show="page.open === 'purchase'">

    <div style="position:relative;">
      <div class="input-group mb-3" style="margin-bottom: 0px !important;">
        <select class="custom-select" style="height: 40px;" id="typeSelection1" ng-model="page.purchaselist.search.timeRange.selectedTime" ng-change="page.purchaselist.search.timeRange.onTimeRangeChange()">
          <option ng-repeat="obj in page.purchaselist.search.timeRange.list" value="{{obj.id}}">{{obj.value}}</option>
        </select>
        <input type="text" ng-model="page.purchaselist.search.titleStr" ng-keyup="page.purchaselist.search.updatetitleTypeaheadSearchedItems()" class="form-control" placeholder="Type item title" aria-label="Item name" aria-describedby="basic-addon2">
        <button type="button" class="btn btn-primary btn-sm" ng-click="page.purchaselist.search.findPurchasedItems()">
          <span class="material-icons">search</span> 
          <span style="vertical-align: super;">Find</span>
        </button>
      </div>
      <div class="search-typeahead" ng-if="page.purchaselist.search.titleTypeaheadSearchedItems.length > 0">
        <div style="margin: 0.5rem 0px;">
          <span style="color: #b8b8b8; font-size: 0.75rem;">Item Suggestions</span>
          <span style="float: right;" class="material-icons" ng-click="page.purchaselist.search.titleTypeaheadSearchedItems = []">cancel</span>
        </div>
        <div id="searchlist-display">
          <div ng-repeat="item in page.purchaselist.search.titleTypeaheadSearchedItems" ng-click="page.purchaselist.search.titleStr = item; page.purchaselist.search.titleTypeaheadSearchedItems = [];" style="margin: 0.25rem; border: 1px solid lightgrey; padding: 0.5rem; border-radius: 10px;">
            {{item}}
          </div>
        </div>
      </div>
    </div>

    <span ng-show="page.purchaselist.searchSummary !== ''" class="badge badge-pill badge-light">{{page.purchaselist.searchSummary}}</span>

    <div ng-repeat="dataObj in page.purchaselist.data" class="card" style="margin: 1rem;">
      <h4 class="card-title" style="margin: 10px;">
        <span class="material-icons">verified</span>
        <span>{{dataObj.title}}</span>
        <span style="font-size: 0.8rem; color: #b0aeae;">({{dataObj.type}})</span>
      </h4>
      <ul class="list-group list-group-flush">
        <li ng-repeat="obj in dataObj.details" class="list-group-item">
          <span class="material-icons" style="vertical-align: middle; margin-left: 5px; float: right;" ng-click="onItemDelete(obj, 'purchase');">delete_forever</span>
          <span class="material-icons" ng-click="newItemDialog.loadItemDetailsDialog(obj, 'edit-purchase');" style="vertical-align: middle; margin-left: 5px; float: right;" data-toggle = "modal" data-target = "#shoppingItem">build</span>
          <span>{{formatDate(obj.date, 'DD/MM/YYYY', 'Do MMM YYYY (dddd)')}}</span>
          <span class="badge badge-success">{{obj.quantity}}{{obj.unit}} = {{toIndianCurrency(obj.price)}}</span>
          <span class="badge badge-warning">{{getUnitPrice(obj.unit, obj.quantity, obj.price)}}</span>
          <div style="color: #9f9f9f; font-size: 0.75rem;">{{obj.desc}}</div>
        </li>
      </ul>
    </div>

  </div>

  <div class="report" ng-show="page.open === 'report'">
    <div style="margin: 5px;">
      <input type="date" id="startDate" ng-model="page.report.search.startDate" style="width: 100%; margin-bottom: 5px;">
      <input type="date" id="endDate" ng-model="page.report.search.endDate" style="width: 100%; margin-bottom: 5px;">
      <button type="button" class="btn btn-success btn-sm" ng-click="page.report.search.findPurchasedItems()" style="width: 100%;">
        <span class="material-icons">search</span> 
        <span style="vertical-align: super;">Find Purchased Items</span>
      </button>
    </div>
    <div class="badge badge-pill badge-light">{{page.report.data.searchSummary}}</div>
    <div ng-if="page.report.data.tableInfo.list" style="margin: 5px; padding: 5px; border: 1px solid lightgray;">
      <select class="custom-select" id="typeSelection1" ng-model="page.report.search.groupOption.selected" ng-change="page.report.search.formatReport()" style="margin-bottom: 5px;">
        <option ng-repeat="obj in page.report.search.groupOption.list" value="{{obj.id}}">{{obj.value}}</option>
      </select>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);">
          <span>{{page.report.data.tableInfo.query}}</span>
          <span class="badge badge-primary badge-pill">Gross Total {{toIndianCurrency(page.report.data.tableInfo.total)}}</span>
        </li>
        <div class="list-group" ng-repeat="(groupIndex, groupObj) in page.report.data.tableInfo.list">
          <a class="list-group-item list-group-item-action flex-column align-items-start" ng-click="page.report.toggleVisibility({groupIndex, 'type': 'type-2'});" style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                <span ng-show="!groupObj.visible" class="material-icons">arrow_right</span>
                <span ng-show="groupObj.visible" class="material-icons">arrow_drop_down</span>
                <span style="vertical-align: super;">{{groupObj.group}}</span>
              </h6>
              <small>Total {{toIndianCurrency(groupObj.total)}}</small>
            </div>
          </a>
          <a ng-show="groupObj.visible" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="(itemIndex, itemObj) in groupObj.items" ng-click="page.report.toggleVisibility({groupIndex, itemIndex, 'type': 'type-1'});">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">{{itemObj.title}}</h6>
              <small>{{toIndianCurrency(itemObj.price)}}</small>
            </div>
            <p class="mb-1"><small>{{itemObj.quantity}}{{itemObj.unit}}</small></p>
            <div ng-show="itemObj.visible">
              <span class="badge badge-success badge-pill">{{formatDate(itemObj.date, 'DD/MM/YYYY', 'Do MMM YYYY (dddd)')}}</span>
              <span class="badge badge-info badge-pill">{{itemObj.type}}</span>
              <div><small>{{itemObj.desc}}</small></div>
            </div>
          </a>
        </div>
      </ul>
    </div>
  </div>


<!--Purchase/Wish Modal -->
<div class="modal fade" id="shoppingItem" tabindex="-1" role="dialog" aria-labelledby="shoppingItemTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Item Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <input type="text" ng-model="newItemDialog.title" class="form-control" placeholder="Item name" aria-label="Item name" aria-describedby="basic-addon2">

      <textarea style="margin: 1rem 0px;" class="form-control" aria-label="With textarea" placeholder="Item Description" ng-model="newItemDialog.desc"></textarea>

      <div class="input-group mb-3">
        <select class="custom-select" id="typeSelection" ng-model="newItemDialog.type">
          <option ng-repeat="obj in newItemDialog.formOptions.itemType.list" value="{{obj.id}}">{{obj.value}}</option>
        </select>
        <input type="number" ng-model="newItemDialog.quantity" class="form-control" placeholder="Total unit" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <select class="custom-select" id="measurementUnit" ng-model="newItemDialog.unit">
          <option ng-repeat="obj in newItemDialog.formOptions.itemUnit.list" value="{{obj.id}}">{{obj.value}}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <input type="text" ng-model="newItemDialog.date" class="form-control" placeholder="DD/MM/YYYY" aria-label="Item name" aria-describedby="basic-addon2">
        <input type="number" ng-model="newItemDialog.price" class="form-control" placeholder="Price" aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>

      <span style="color: red; font-size: x-small;margin-top: 5px;">**Only Item title, type and decription will get added in wishlist.</span>
    </div>
    <div class="modal-footer">
      <button ng-if="newItemDialog.formOptions.isButtonVisible.addNewPurchase" type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="newItemDialog.addPurchaseItem();">
        <span class="material-icons">add</span>
        <span style="vertical-align: super;">Purchase</span>
      </button>
      <button ng-if="newItemDialog.formOptions.isButtonVisible.editPurchase" type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="newItemDialog.updatePurchaseItem();">
        <span class="material-icons">update</span>
        <span style="vertical-align: super;">Purchase</span>
      </button>
      <button ng-if="newItemDialog.formOptions.isButtonVisible.addNewWish" type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="newItemDialog.addWishItem();">
        <span class="material-icons">add</span>
        <span style="vertical-align: super;">Wish</span>
      </button>
      <button ng-if="newItemDialog.formOptions.isButtonVisible.editWish" type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="newItemDialog.updateWishItem();" >
        <span class="material-icons">update</span>
        <span style="vertical-align: super;">Wish</span>
      </button>
      <button ng-if="newItemDialog.formOptions.isButtonVisible.moveWishToPurchase" type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="newItemDialog.moveWishToPurchase();" >
        <span class="material-icons">open_in_new</span>
        <span style="vertical-align: super;">Purchase</span>
      </button>
    </div>
  </div>
</div>
</div>


<div ng-if="alertHandler.showAlert === true" class="alert alert-warning" role="alert" style="position: fixed; width: 100%; bottom: 10px; z-index: 100;">
  {{alertHandler.message}}
  <button type="button" class="close" aria-label="Close" ng-click="alertHandler.showAlert = false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div ng-if="confirmHandler.showConfirm === true" class="alert alert-warning" role="alert" style="position: fixed; width: 100%; bottom: 10px; z-index: 100;">
  {{confirmHandler.message}}
  <span class="material-icons" style="float: right; border: 1px solid; margin: 0px 0.5rem;" ng-click="confirmHandler.showConfirm = false">close</span>
  <span class="material-icons" style="float: right; border: 1px solid; margin: 0px 0.5rem;" ng-click="confirmHandler.onConfirm()">done</span>
</div>

<p style="font-size: 0.6rem; margin: 0px auto; color: #979797; width: fit-content;">&#169;2023 : Chandan Koley, LSE Factset Researc Systems, under &#174;Ghar Kharach Applications&#8482;</p>

</div>

</body>
</html>
