<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Manager Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <style>
    body {
      font-family: "Montserrat", sans-serif;
      max-width: 800px;
      margin: 0px auto;
    }
  </style
<body>
<div ng-app="login" ng-controller="loginctrl">
<div style="margin: 10px;">

  <div ng-if="!!userInfo.name">
    <h3 class="display-4">Hi, {{userInfo.name}}</h3>
    <div style="font-family: inherit; font-size: 1.3rem; margin-bottom: 10px;">
      <b>User ID:</b> {{userInfo.user_id}} | <b>Email:</b> {{userInfo.email}}</div>
    <button type="button" class="btn btn-primary btn-sm" ng-click="openHomePage();">
      <span class="material-icons">home</span>
      <span style="vertical-align: super;">Home</span>
    </button>
    <button type="button" class="btn btn-warning btn-sm" ng-click="removeLocalKey();">
      <span class="material-icons">logout</span>
      <span style="vertical-align: super;">Logout</span>
    </button>
  </div>

  <div ng-show="!userInfo.name">
    <h3 class="display-4">
      <span>Account Verification</span>
    </h3>
    <div class="input-group mb-3">
      <input type="text" ng-model="userId" class="form-control" placeholder="Enter User ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm" ng-click="sendOTP();">
          <span class="material-icons">send</span>
          <span style="vertical-align: super;">Send OTP</span>
        </button>
      </div>
    </div>
  
    <div class="input-group mb-3">
      <input type="number" ng-model="otp" class="form-control" placeholder="Enter OTP" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm" ng-click="verifyOTP();">
          <span class="material-icons">fingerprint</span>
          <span style="vertical-align: super;">Verify OTP</span>
        </button>
      </div>
    </div>
  </div>

</div>
</div>
<script>
angular.module("login", []).controller("loginctrl", function ($scope, $http, $window) {

  $scope.userId = '';
  $scope.otp = '';
  $scope.userInfo = {};

  $scope.sendOTP = function() {
    var req = {
			method: 'POST',
			url: '/api/send-otp',
			timeout: 20000,
			data: {
        user_id: $scope.userId
      }
		};
		$http(req).then(function(res) {
      alert(res.data);
    }).catch(function(e) {
      console.log("Unable to send OTP via email");
    });
  };

  $scope.verifyOTP = function() {
    var req = {
			method: 'POST',
			url: '/api/verify-otp',
			timeout: 20000,
			data: {
        user_id: $scope.userId,
        otp: $scope.otp
      }
		};
		$http(req).then(function(res) {
      console.log("Valid OTP");
      localStorage.setItem('smartbuy', res.data.passcode);
      $window.open("/", "_parent");
    }).catch(function(e) {
      alert("Invalid OTP");
    });
  };

  $scope.removeLocalKey = function() {
    localStorage.removeItem('smartbuy');
    $window.open("/login", "_parent");
  };

  $scope.openHomePage = function() {
    $window.open("/", "_parent");
  };
  
  var getUserInfo = function() {
    var req = {
			method: 'GET',
			url: '/api/is-valid-session',
			timeout: 20000,
			headers: {
				"auth-info": localStorage.getItem('smartbuy')
			}
		};
		$http(req).then(function(res) {
      $scope.userInfo = res.data;
    }).catch(function(e) {
      console.error(e);
    });
  };
  getUserInfo();

});
</script>
</body>
</html>
